body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form input, form select, form button {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #28a745;
    color: white;
    border: none;
}

.lists {
    display: flex;
    justify-content: space-between;
}

.list {
    width: 32%;
}

.list h2 {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 4px;
}

li button.edit {
    background-color: #077bff;
}

li button.complete {
    background-color: #28a745;
}

li small.priority {
    font-weight: bold;
}

li .Low{
    color: #dcdc0d;
}

li .Medium{
    color: #ffac07;
}

li .High{
    color: #ff0707;
}
